Repository aws/aws-rfdk, pull requests merged in 2021-08, with the labels that each got.

#508 docs: add construct architecture diagrams
  CONTRIBUTING.md
  packages/aws-rfdk/docs/diagrams/README.md
  packages/aws-rfdk/docs/diagrams/core/HealthMonitor.svg
  packages/aws-rfdk/docs/diagrams/core/ImportedAcmCertificate.svg
  packages/aws-rfdk/docs/diagrams/core/X509CertificatePem.svg
  packages/aws-rfdk/docs/diagrams/core/X509CertificatePkcs12.svg
  packages/aws-rfdk/docs/diagrams/deadline/ConfigureSpotEventPlugin.svg
  packages/aws-rfdk/docs/diagrams/deadline/RenderQueue.svg
  packages/aws-rfdk/docs/diagrams/deadline/Repository.svg
  packages/aws-rfdk/docs/diagrams/deadline/SpotEventPluginFleet.svg
  packages/aws-rfdk/docs/diagrams/deadline/UsageBasedLicensing.svg
  packages/aws-rfdk/docs/diagrams/deadline/WorkerInstanceFleet.svg
  packages/aws-rfdk/docs/diagrams/tests/svg-embedded-drawio.test.ts
  packages/aws-rfdk/lib/core/README.md
  packages/aws-rfdk/lib/core/lib/health-monitor.ts
  packages/aws-rfdk/lib/core/lib/imported-acm-certificate.ts
  packages/aws-rfdk/lib/core/lib/x509-certificate.ts
  packages/aws-rfdk/lib/deadline/README.md
  packages/aws-rfdk/lib/deadline/lib/configure-spot-event-plugin.ts
  packages/aws-rfdk/lib/deadline/lib/render-queue.ts
  packages/aws-rfdk/lib/deadline/lib/repository.ts
  packages/aws-rfdk/lib/deadline/lib/spot-event-plugin-fleet.ts
  packages/aws-rfdk/lib/deadline/lib/usage-based-licensing.ts
  packages/aws-rfdk/lib/deadline/lib/worker-fleet.ts
Labels: contribution/core, documentation, pr/do-not-merge

#518 fix(deadline): change ownership of repository files when applicable
  packages/aws-rfdk/lib/core/lib/mountable-ebs.ts
  packages/aws-rfdk/lib/core/lib/mountable-efs.ts
  packages/aws-rfdk/lib/core/lib/mountable-filesystem.ts
  packages/aws-rfdk/lib/core/lib/mountable-fsx-lustre.ts
  packages/aws-rfdk/lib/core/test/mountable-ebs.test.ts
  packages/aws-rfdk/lib/core/test/mountable-efs.test.ts
  packages/aws-rfdk/lib/core/test/mountable-fsx-lustre.test.ts
  packages/aws-rfdk/lib/deadline/lib/repository.ts
  packages/aws-rfdk/lib/deadline/test/repository.test.ts
Labels: breaking-change, bug, contribution/core

#519 chore(deps): bumping cdk from 1.111.0 to 1.116.0
  examples/deadline/All-In-AWS-Infrastructure-Basic/python/setup.py
  examples/deadline/All-In-AWS-Infrastructure-Basic/ts/package.json
  examples/deadline/All-In-AWS-Infrastructure-SEP/python/setup.py
  examples/deadline/All-In-AWS-Infrastructure-SEP/ts/package.json
  examples/deadline/EC2-Image-Builder/python/setup.py
  examples/deadline/EC2-Image-Builder/ts/package.json
  examples/deadline/Local-Zone/python/setup.py
  examples/deadline/Local-Zone/ts/package.json
  integ/package.json
  lambda-layers/package.json
  package.json
  packages/aws-rfdk/lib/core/lib/imported-acm-certificate.ts
  packages/aws-rfdk/lib/core/test/imported-acm-certificate.test.ts
  packages/aws-rfdk/package.json
  tools/cdk-build-tools/package.json
  tools/pkglint/package.json
  yarn.lock
Labels: dependencies, contribution/core

#524 chore(merge-back): 0.37.0
  CHANGELOG.md
  examples/deadline/All-In-AWS-Infrastructure-Basic/python/setup.py
  examples/deadline/All-In-AWS-Infrastructure-Basic/ts/package.json
  examples/deadline/All-In-AWS-Infrastructure-SEP/python/setup.py
  examples/deadline/All-In-AWS-Infrastructure-SEP/ts/package.json
  examples/deadline/EC2-Image-Builder/python/setup.py
  examples/deadline/EC2-Image-Builder/ts/package.json
  examples/deadline/Local-Zone/python/setup.py
  examples/deadline/Local-Zone/ts/package.json
  integ/package.json
  lambda-layers/package.json
  lerna.json
  package.json
  packages/aws-rfdk/package.json
  tools/cdk-build-tools/package.json
  tools/pkglint/package.json
Labels: pr/no-squash

#514 feat(deadline): add Secret Management support for Repository
  packages/aws-rfdk/lib/deadline/lib/repository.ts
  packages/aws-rfdk/lib/deadline/scripts/bash/installDeadlineRepository.sh
  packages/aws-rfdk/lib/deadline/test/repository.test.ts
Labels: contribution/core

#544 fix(deadline): reinstall repository even if version is not changed
  packages/aws-rfdk/lib/deadline/scripts/bash/installDeadlineRepository.sh
Labels: contribution/core
